.grid {
    height:100%;
    width: 70%;
    margin: 0 auto;
}

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
  }

.grid-sizer,
.grid-item {
    width: 24%;
}
/* .gutter-sizer {
    width: 4%;
} */

.grid-item { 
    float: left;
    /* width: 200px; */
    /* height: 8rem; */
    border: 1px solid white; 
    border-radius: 3px;
    margin: 0.5%;
    padding: 0.5rem;
}

.height2 {
    height: 4rem;
}

.height3 {
    height: 8rem;
}
.width2 { 
    width: 48%; 
}

.grid-item img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.grid-item:hover {
    /* border: 1px solid black; */
    transform: scale(1.1); 
    /* background-color: rgba(237, 71, 53, 0.335); */
}