#schedule-training {
    color: white;
    height: 1260px;
}
@media screen and (max-width: 768px ) {
    #schedule-training {
        height: 1435px;
    } 
}
.schedule-title {
    margin-top: 3rem;
    max-width: 80%;
}

.training-content {
    justify-content: center;
}
.content-box {
    display: grid;
    grid-template-columns: 20% 70%;
    align-items: top;
}
.content-box i {
    font-size: 55px;
}
@media screen and (max-width: 768px ) {
    .content-box.right {
        margin-top: 1.5rem;
    } 
}
.list-box {
    display: grid;
}

.list-box.left {
    grid-template-columns: 20% 40% 40%;
}
.list-box.right {
    grid-template-columns: 20% 80%;
}

.list-box ul {
    margin-left: 15px;
}
.list-box li {
    text-align: left;
}

.note-additional {
    margin: 2rem 1rem 1rem 1rem;
    display: flex;
    justify-content: center;
}

.calendly-container {
    /* margin-top: -60px; */
}
.calendly-inline-widget {
    height: 647px;
}

